@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
:root {
    --primary-color: #1bff00; 

    --background-color: #ffffff;
    --text-color: #000000;

    --fpl-color: #37527B;
}
.dark-mode{
    --background-color: #000000;
    --text-color: #ffffff;
}

body{
    background: var(--background-color);
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
}
a:focus{
    outline: none;
}
.img-invert{
    filter: invert(1);
}
.row{
    margin: 0;
}
.grid{
    padding-left: 94px!important;
    padding-right: 94px!important;
}
.row div{
    padding-left: 12px;
    padding-right: 12px;
}
.img-full-width{
    width: 100%;
}

.site-header{
    margin: 20px 0;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
    font-size: 22px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-color: #00000080;
}
.site-header a{
    margin: 0 20px;
    text-decoration: none;
    color: var(--text-color);
}
.site-header a:hover{
    color: var(--primary-color);
}
.site-header a.active{
    border-bottom: 3px solid var(--primary-color);
}

.home{
    display: block;
}
.home .me{
    background-image: url(svg/illustration.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 100% 0%;
}
.home .me .about{
    min-height: calc( 100vh - 105px - 85px );
    padding: 0;
}
.home .me .name,
.contact .name{
    font-size: 44px;
    font-weight: 400;
    line-height: 50px;
    margin-bottom: 20px;
}
.contact.row>*{
    padding-left: 0;
    padding-right: 0;
}
.home .me .name>b{
    font-size: 50px;
    font-weight: 700;
}
.home .me h2{
    font-weight: 400;
    line-height: 26px;
}
.home .me .position,
.home .contact .position{
    font-size: 28px;
    font-style: italic;
}
.home .me .job{
    font-size: 28px;
}
.home .me .description{
    font-size: 16px;
    line-height: 22px;
    font-weight: 300;
    margin-top: 100px;
}
@keyframes float {
	0% {
		/* box-shadow: 0 5px 10px 0px rgba(255, 255, 255, 0.4); */
		transform: translatey(0px);
	}
	50% {
		/* box-shadow: 0 10px 10px 0px rgba(255, 255, 255, 0.2); */
		transform: translatey(-25px);
	}
	100% {
		/* box-shadow: 0 5px 10px 0px rgba(255, 255, 255, 0.4); */
		transform: translatey(0px);
	}
}
.home .me .scroll img{
    margin: 0 auto;
    display: block;
    animation: float 1.5s ease-in-out infinite;
}
.home .me .scroll{
    height: 50px;
    margin-top: 35px;
}

.home .projects{
    padding: 50px 0;
    padding-top: 60px;
}
.home .projects a{
    color: var(--text-color);
    text-decoration: none;
    padding: 0;
}
.home .projects a:hover h2{
    color: var(--primary-color);
}
.home .projects a:hover img{
    opacity: .9;
}
.home .projects .row{
    margin-left: 0;
    margin-right: 0;
}
.home .projects .project{
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 48px;
}
.home .projects .project h3{
    font-size: 16px;
    font-weight: 400;
}
.home .projects .project h3>b{
    font-weight: 900;
}
.home .projects .project div{
    padding: 0;
}
.home .projects .project .banner{
    background-color: var(--primary-color);
    margin-bottom: 24px;
}

.home .projects .project.project-full-page img,
.home .projects .project.project-half-page img{
    width: 100%;
}
.home .projects .project.project-full-page h2,
.home .projects .project.project-half-page h2{
    font-size: 28px;
    font-weight: 900;
    line-height: 32px;
}

.home .experiences{
    font-size: 22px;
    padding: 100px 0;
    background: linear-gradient(360deg, rgba(27, 255, 0, 0) 0%, rgba(27, 255, 0, 0.1) 100%);
}
.home .experiences>div{
    margin: auto;
}
.home .experiences div{
    padding: 0;
}
.home .experiences .xps{
    display: flex;
    font-weight: 300;
}
.home .experiences .xps .xp{
    border: 3px solid var(--primary-color);
    width: 33px;
    height: 33px;
    border-radius: 20px;
    display: inline-table;
    margin-right: 20px;
}
.home .experiences .xps .xp.off{
    opacity: .2;
}

.home .contact h4,
.home .contact p{
    font-size: 20px;
}
.home .contact h4{
    font-weight: 700;
    line-height: 24px;
}
.home .contact p{
    font-weight: 300;
    line-height: 24px;
}
.home .contact .social{
    margin-top: 50px;
}
.home .contact .social:last-child{
    margin-bottom: 70px;
}

footer{
    text-align: center;
    color: var(--primary-color);
    padding-top: 10px;
    padding-bottom: 10px;
}
footer p{
    margin: 0;
}
.home .contact .social a{
    color: var(--text-color);
    text-decoration-color: var(--text-color);
    text-decoration: underline;
    display: block;
    width: fit-content;
}
.home .contact .social a:hover{
    color: var(--primary-color);
    text-decoration-color: var(--primary-color);
}




.site-header.back{
    text-align: left;
    padding-left: 48px;
    padding-right: 48px;
}
.site-header.back b{
    margin-left: 20px;
    vertical-align: middle;
    font-size: 24px;
}
.site-header.back a{
    display: block;
}
.site-header.back a img{
    height: 30px;
}
.site-header.back a:hover img{
    fill: var(--primary-color);
}

.project-page{
    width: 100%;
    margin: 0;
}
.project-page .row{
    margin: 0;
}
.project-page .banner{
    padding: 0;
}
.project-page .banner img{
    width: 100%;
}
.project-page .topic{
    padding-top: 24px;
    padding-bottom: 24px;
}
.project-page .topic .topic-title,
.project-page .topic .description{
    padding: 0;
}
.project-page .topic .topic-title h3{
    font-size: 28px;
    font-weight: 700;
    line-height: 42px;
}
.project-page .topic .description{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.project-page .label{
    font-size: 12px;
    line-height: 1.4;
    text-align: center;
    margin-top: 1em;
}
.project-page .project-title{
    font-size: 36px;
}
.project-page .img-title-top{
    font-size: 24px;
    text-align: center;
}
.project-page .topic .description .softwares{
    display: flex;
    padding: 0;
}
.project-page .topic .description .softwares .app{
    width: fit-content;
}
.project-page .topic .description .softwares .app:first-child{
    padding-left: 0;
}
.project-page .topic .description .softwares .app img{
    height: 70px;
    display: block;
}
.project-page .topic .description .softwares .app span{
    display: block;
    text-align: center;
    margin-top: 10px;
}
.topic.pics{
    display: flex;
    padding-bottom: 50px;
}
.topic.pics .pic:first-child{
    margin-left: 0;
}
.topic.pics .pic{
    flex: 1;
    padding: 15px;
    background: #1D2B40;
    border-radius: 10px;
    margin-left: 50px;
}
.topic.pics .pic p{
    text-align: center;
    margin: 10px 0 0;
    font-family: 'Caveat', cursive;
    font-size: 24px;
}
.topic.pics .pic img{
    width: 100%;
}
.topic.pics.gradient{
    background: linear-gradient(180deg, #37527B 0%, #9EABBE 172.78%);
}

.fpl-bg{
    background: var(--fpl-color);
}


.grid-left{
    padding-left: 24px!important;
}
.grid-right{
    padding-right: 24px!important;
}
.grid-bottom{
    margin-bottom: 24px!important;
}
.grid-top{
    margin-top: 24px!important;
}
.img-display{
    max-width: 700px;
}


/* Frame do iPhone */
.device-iphone11-frame{
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url(svg/iPhone-11-pro.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
}
.device-iphone11-container {
    position: relative;
    margin: 0 auto;
    margin-bottom: 1em;
    width: var(--frame-width);
    height: var(--frame-height);
    padding: 0;
}
.device-iphone11-image-full, .device-iphone11-image-half {
    position: absolute;
    max-width: initial;
    width: var(--screen-width);
    height: var(--screen-height);
    left: var(--screen-left);
    top: var(--screen-top);
}
.device-iphone11-container, .video-container-device-iphone11 {
    padding: 0!important;
}
.device-iphone11-container, .video-container-device-iphone11 {
    --border: 1px solid #e6e6e6;
    --frame-width: 329px;
    --frame-height: 658px;
    --frame-height-nudge: 0px;
    --screen-left: 21px;
    --screen-top: 19px;
    --screen-width: 286px;
    --screen-height: 620px;
}

/* Frame do Apple Watch */
.device-watch44-frame{
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url(svg/iPhone-11-pro.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
}
.device-watch44-container {
    position: relative;
    margin: 0 auto;
    margin-bottom: 1em;
    width: var(--frame-width);
    height: var(--frame-height);
    padding: 0;
}
.device-watch44-image-full, .device-iphone11-image-half {
    position: absolute;
    max-width: initial;
    width: var(--screen-width);
    height: var(--screen-height);
    left: var(--screen-left);
    top: var(--screen-top);
}

.img-center-full{
    margin: 0 auto;
    display: block;
    width: 100%;
    /* margin-bottom: 1em; */
    max-width: 800px;
}

/* Frame do iPad */
.device-ipad-container-h {
    position: relative;
    width: 708px;
    height: 543px;
    margin: 0 auto 1em;
}
img.device-ipad-image-h {
    position: absolute;
    display: block;
    width: 655px;
    height: 490px;
    top: 27px;
    left: 27px;
    max-width: initial;
}
.device-ipad-container-v {
    position: relative;
    height: 708px;
    width: 543px;
    margin: 0 auto 1em;
}
img.device-ipad-image-v {
    position: absolute;
    display: block;
    height: 655px;
    width: 490px;
    left: 26px;
    top: 27px;
    max-height: initial;
}
.device-ipad-frame-h{
    background-image: url(img/iPadPro12-9_2x_h.png);
    background-size: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-repeat: no-repeat;
}
.device-ipad-frame-v{
    background-image: url(img/iPadPro12-9_2x_v.png);
    background-size: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-repeat: no-repeat;
}



/* tablet */
@media (max-width: 991.98px) {
    .grid{
        padding-left: 48px!important;
        padding-right: 48px!important;
    }
    .home .me{
        background-image: url(svg/illustration_opacity.svg);
        background-size: cover;
        background-position: left;
    }
    .project-page .topic .description .softwares .app{
        padding-left: 0;
        padding-right: 24px;
        padding-bottom: 24px;
    }
    .device-iphone11-container, .video-container-device-iphone11 {
        --frame-width: 238px;
        --frame-height: 476px;
        --frame-height-nudge: 1px;
        --screen-left: 15px;
        --screen-top: 13px;
        --screen-width: 207px;
        --screen-height: 449px;
    }
    .device-ipad-container-h {
        width: 510px;
        height: 391px;
    }
    img.device-ipad-image-h {
        width: 471px;
        height: 354px;
        top: 19px;
        left: 20px;
    }
    .device-ipad-container-v {
        height: 510px;
        width: 391px;
    }
    img.device-ipad-image-v {
        height: 471px;
        width: 354px;
        left: 19px;
        top: 20px;
    }
}

/* mobile */
@media (max-width: 767.98px) {
    .grid{
        padding-left: 24px!important;
        padding-right: 24px!important;
    }
    .home .experiences p{
        margin-bottom: 0;
    }
    .home .experiences .xps{
        margin-bottom: 25px;
    }
    .topic.pics .pic{
        margin: 0 24px 24px;
        flex: auto;
    }
    .topic.pics .pic:first-child{
        margin-left: 24px;
    }
    .home .me .scroll{
        display: none;
    }
    .site-header.back{
        padding-left: 12px;
        padding-right: 12px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .project-page .topic .description .softwares{
        padding: 0;
    }
    .project-page .topic .description .softwares .app{
        padding-left: 0;
        padding-right: 24px;
        padding-bottom: 24px;
    }
    .device-ipad-container-h {
        width: 319px;
        height: 245px;
    }
    img.device-ipad-image-h {
        width: 295px;
        height: 222px;
        top: 12px;
        left: 12px;
    }
    .device-ipad-container-v {
        height: 320px;
        width: 245px;
    }
    img.device-ipad-image-v {
        height: 296px;
        width: 223px;
        left: 11px;
        top: 12px;
    }
    .project-link.grid-left,
    .project-link.grid-right{
        padding: 0!important;
    }
    .home .me .description{
        margin-top: 72px;
    }
    .home .projects .project .banner {
        margin-bottom: 12px;
    }
}
